<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
        <title>CS 253 Wiki</title>
    </head>
    <body>
        <div class="login-area">
            {% if user %}
                {{user.name}} (
                <!-- todo: fix the link to _edit/path & _history/path -->
                <a class="login-link" href="../_edit{{path}}">Edit</a> |
                <a class="login-link" href="../_history{{path}}">History</a> |
                <a class="login-link" href="/logout">logout</a>)
            {% else %}
                <a class="login-link" href="/login">login</a> | 
                <a class="login-link" href="/signup">sign up</a>
            {% endif %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
